@font-face {
	font-family: 'BIZ UDPGothic';
	src: url(../font/BIZUDPGothic-Regular.ttf);
}

body {
  font-family: "BIZ UDPGothic" ;
}
figcaption {
  font-size: x-small;
  font-style: italic;
  padding: 5px;
  text-align: center;
}
.bs-component + .bs-component {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .bs-docs-section {
    margin-top: 8em;
  }
  .bs-component {
    position: relative;
  }
  .bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }
  .bs-component .modal-dialog {
    width: 90%;
  }
  .bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
  .nav-tabs {
    margin-bottom: 15px;
  }
  .progress {
    margin-bottom: 10px;
  }
}
#chat1 .form-outline .form-control~.form-notch div {
  pointer-events: none;
  border: 1px solid;
  border-color: #eee;
  box-sizing: border-box;
  background: transparent;
}
    
#chat1 .form-outline .form-control~.form-notch .form-notch-leading {
  left: 0;
  top: 0;
  height: 100%;
  border-right: none;
  border-radius: .65rem 0 0 .65rem;
}
    
#chat1 .form-outline .form-control~.form-notch .form-notch-middle {
  flex: 0 0 auto;
  height: 100%;
  border-right: none;
  border-left: none;
}
    
#chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
  flex-grow: 1;
  height: 100%;
  border-left: none;
  border-radius: 0 .65rem .65rem 0;
}
    
#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-left: 0.125rem solid #39c0ed;
}
    
#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
  border-right: none;
  transition: all 0.2s linear;
}
    
#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: #39c0ed;
}
    
#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.2s linear;
}
    
#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-right: 0.125rem solid #39c0ed;
}
    
#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
  border-left: none;
  transition: all 0.2s linear;
}
    
#chat1 .form-outline .form-control:focus~.form-label {
  color: #39c0ed;
}
    
#chat1 .form-outline .form-control~.form-label {
  color: #bfbfbf;
}

/* footer固定 */
footer {
  background-color: #f8f9fa; /* フッターの背景色を指定 */
  border-top: 1px solid #dee2e6; /* フッターの上部に境界線を追加 */
}

/* ページTOPに戻る */
.pagetop{
  display: none;
  position: fixed;
  right: 20px;
  bottom: 5px;
}